<section id="post-edit" ng-controller="PostsController">
	<h3>Edit Post</h3>
	<hr>
	<form action="">
		<div class="row">
			<div class="col-md-8">
				<div class="form-group">
					<label for="title">Title</label>
					<input class="form-control" type="text" value="{{post.title}}" ng-model="post.title">
				</div>
				<label for="permalink">Permalink</label>
				<div class="input-group input-group-sm">
					<span class="input-group-addon">{{baseUrl}}/post/</span>
					<input type="text" class="form-control" value="{{post.$id}}">
				</div>
				<br>
				<div class="form-group">
					<label for="content">Content</label>
					<textarea class="form-control" rows="10" ng-model="post.content">{{post.content}}</textarea>
				</div>
			</div>
			<div class="col-md-4">
				<div class="post-category">
					
					<p><strong>Categories</strong></p>

					<div class="post-categories">
						<span ng-repeat="(id, category) in post.categories">
							<button class="btn btn-warning btn-sm" ng-click="removeCategory(id)">{{category}} &times;</button></li>
						</span>
					</div>

					<br>

					<div class="input-group">
						<input class="form-control" type="text" placeholder="Category name.." ng-model="post.category">
						<span class="input-group-btn">
							<button class="btn btn-info" ng-click="addCategory()"><i class="glyphicon glyphicon-plus"></i></button>
						</span>
					</div>

				</div>
				<hr>
				<div class="form-group">
					<label for="thumbnail">Thumbnail</label>
					<input type="file">
					<p class="help-block">Upload the post thumbnail.</p>
				</div>
				<hr>
				<button type="submit" class="btn btn-success pull-right" ng-click="editPost()">Save</button>
			</div>
		</div>
	</form>
</section>