<div class="main" ng-controller="PostsController">

	<ol class="breadcrumb">
		<li class="active">Home</li>
	</ol>

	<h2>Lasts Posts</h2>
	<hr>

	<div class="row">

		<div class="col-md-8">
			<section id="posts" ng-repeat="post in posts">
				<div id="{{post.id}}" class="media">
					<div class="media-left">
						<a href="#"><img class="media-object" src="http://unsplash.it/64/64"></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{post.title}} <button class="btn btn-danger btn-xs" ng-click="posts.$remove(post)">X</button></h4>
						<p>{{post.body}}</p>
					</div>
				</div>
			</section>
		</div>

		<div class="col-md-4">
			<h2>Sidebar</h2>
			<form ng-submit="addPost()">
				<div class="form-group">
					<label for="">Title</label>
					<input class="form-control" ng-model="title" />
				</div>
				<div class="form-group">
					<label for="">Content</label>
					<textarea class="form-control" ng-model="body" rows="10"></textarea>
				</div>
				<button class="btn btn-primary" type="submit">Add Post</button>
			</form>
		</div>

	</div>
</div>

