<div class="main" ng-controller="PostsController">

	<h2>Lasts Posts</h2>
	<hr>

	<div class="row">

		<div class="col-md-8">
			<section id="posts" ng-repeat="post in posts">
				<div id="{{post.id}}" class="media">
					<div class="media-left">
						<a href="#/post/{{post.$id}}">
							<img class="media-object img-rounded" ng-src="data:image/jpeg;base64,{{post.thumbnail.base64}}" width="150">
						</a>
					</div>
					<div class="media-body">
						<h3 class="media-heading">
							<a href="#/post/{{post.$id}}">{{post.title}}</a>
						</h3>
						<p>{{ getExcerpt( post.content ) }}</p>
					</div>
				</div>
				<br>
			</section>
		</div>

		<div class="col-md-4">
			<h2>Sidebar</h2>
		</div>

	</div>
</div>

